<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<% if(users.cart.length > 0){%>
 <% users.cart.forEach((user)=>{ %>
<h3>Title: <%= user.name%></h3>
<p> Quantity:<%= user.quantity%></p>
<p> Price:<%= user.price%></p>
<h5>
  likes: <span><%= user.likes%></span>
</h5>
<%}) } else{ %>
  <h2>No Products Found</h2>
  <%} %>
</body>
</html>





