<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="home">
      <ul>
        <li>
          <a href="/users/register"> Signup </a>
        </li>
        <li>
          <a href="/users/login"> Login </a>
        </li>
      </ul>
    </header>
    
  </body>
</html>