<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    <form action="/users/register" method="POST">
      <input type="text" name="firstname" placeholder="add firstname" />
      <input type="text" name="lastname" placeholder="add lastname" />
      <input type="email" name="email" placeholder="add email" />
      <input type="password" name="password" placeholder="add password" />
      <input type="text" name="city" placeholder="add city" />
      <button>submit</button>
    </form>
  </body>
</html>